{%- if caddy_email | default('') %}
{
    email {{ caddy_email }}
}
{% endif %}
{% for site in caddy_sites %}
{{ site.names | join(', ') }} {
{% if site.redir | default('') %}
    redir {{ site.redir }} permanent
{% else %}
    reverse_proxy {{ site.upstream }}
{% endif %}
}

{% endfor %}
